Note: All code in script is sourced from various internet sources, from mentor Tomasz Popiel and from Alan Chalk at Sabre Insurance.

## Read the raw data

Contents:
 - Start_: import modules, set directories
 - Read raw data
 - Save data '01_df_all.pickle'  
 
Notes:

### Start_:

Import modules

In [1]:
import os
import pickle

import pandas as pd

Set directories

In [2]:
print(os.getcwd())

dirRawData = "../RawData/"
dirPData = "../PData/"
dirPOutput = "../POutput/"

/Users/hujuiting/Desktop/QM-BA/GROUP PROJECT/PCode

### Read raw data

In [3]:
df_all = pd.read_csv(dirRawData + "raw data.csv",
                     skipinitialspace=True)

df_all.shape # (65,340, 347)

(65340, 347)

In [4]:
df_all.head()

,tq_db11_mean,tq_db12_mean,tq_db13_mean,tq_db14_mean,tq_dt1_mean,tq_dt2_mean,tq_dt3_mean,tq_dt4_mean,tq_db15_mean,tq_db16_mean,...,a_v4,a_v5,a_v6,a_v7,a_v8,a_v9,a_v10,a_v11,a_v12,id
0,14.6561,5.8498,1.4466,0.0079,0.1502,0.1146,0.0079,0.0040,0.0514,0.0593,...,C,C,2.0,137,970,13.0,12.0,9.0,4.0,1
1,16.4545,12.6364,1.7273,0.0000,0.0909,0.0909,0.0000,0.0000,0.0909,0.0909,...,C,C,5.0,141,196,9.0,15.0,12.0,9.0,2
2,15.6510,5.9688,1.4531,0.0052,0.1146,0.0938,0.0104,0.0104,0.1927,0.2083,...,C,C,2.0,17,1047,11.0,NaN,15.0,NaN,3
3,15.3430,6.0233,1.3605,0.1628,0.0872,0.0814,0.0058,0.0233,0.0465,0.0581,...,X,C,3.0,36,752,17.0,12.0,NaN,18.0,4
4,13.7838,6.0270,1.5203,0.0000,0.0743,0.0676,0.0000,0.0000,0.0270,0.0405,...,C,D,5.0,55,112,3.0,12.0,1.0,4.0,5

### Save data

In [5]:
dict_ = {'df_all': df_all}
fname = dirPData + '01_df_all.pickle'
with open(fname, 'wb') as f:
    pickle.dump(dict_, f)

del dict_, fname